<div class="container">
  <div class="page-wrapper">
    <div class="logo">
      <span class="ivre"> Ivre</span><span class="news">NEWS</span>
    </div>
    <div class= "baseline">
    L'ETAT DU MONDE EN ETAT D'ÉBRIÉTÉ
    </div>
    <div class= "button-container">
    <%= link_to "Lists of Posts", posts_path, class:"button-home"%>
    </div>
  </div>
</div>
