.button-home {
  border-radius: 12px;
  background-color: $bacchus-primary;
  color: white;
  padding: 8px;
  width: 56px;
  font-weight: bolder;
}

.button-large {
  border-radius: 12px;
  background-color: $bacchus-primary;
  color: white;
  padding: 8px;
  width: 120px;
  font-weight: bolder;
}
