.post-details {
  width: 60vw;
  padding: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  justify-content: center;
  margin: 0 auto;
  background-color: white;
}

.comment-section {
  width: 60vw;
  //padding: 12px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 12px;
  font-size: 0.8em;
}

.new-comment {
  max-width: 55vw;
  //padding: 12px;
  margin-bottom: 12px;
}

.post-credits{
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}

.post-content {
  padding-bottom: 8px;
  margin-bottom: 12px;
  box-shadow: 0px  1px  0px  rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgb(0,0,0)
}

.comment-section {
  width: 60vw;
  //padding: 12px;
  justify-content: center;
  //margin: 0 auto;
}

.comment-preview {
    //box-shadow: 0px  2px  2px 0 rgba(0, 0, 0, 0.2);
    color: #000000;
    margin-bottom: 2px;
    padding: 2px;
}

textarea.formcontrol {
  max-width: 60vw;
}
