.post-details {
  width: 60vw;
  padding: 12px;
  margin-bottom: 12px;
  justify-content: center;
  margin: 0 auto;
  background-color: white;
}

.comment-section {
  width: 60vw;
  padding: 12px;
  margin-bottom: 12px;
}

.new-comment {
  width: 60vw;
  padding: 12px;
  margin-bottom: 12px;
}

.comment-section {
  width: 60vh;
  padding: 12px;
  justify-content: center;
  margin: 0 auto;
}

.comment-preview {
    //box-shadow: 0px  2px  2px 0 rgba(0, 0, 0, 0.2);
    color: #000000;
    margin-bottom: 2px;
    padding: 2px;
}
